.time {
  color: #555;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-right: 1px solid #333;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  width: 160px;
}

.category {
  line-height: 1em;
  color: #333;
}
