.article {
  display: grid;
  justify-items: end;
  margin: 2.5rem 1rem 0;

  @media screen and (min-width: 800px) {
    margin-right: 2.5rem;
  }

  @media screen and (min-width: 1200px) {
    justify-items: start;
    margin-left: 2.5rem;
    margin-right: 0;
  }
}

.content {
  width: 90vw;
  margin: 0 auto 2.5rem;

  @media screen and (min-width: 800px) {
    width: 65vw;
    margin-right: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 700px;
    margin-left: 0;
  }
}

.time {
  color: #555;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #333;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;

  @media screen and (min-width: 1200px) {
    font-size: 2rem;
  }
}

.info {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.category {
  line-height: 1em;
  color: #333;
}

.body {
  margin-top: 2.5rem;
}
