.post {
  width: 200px;

  @media screen and (min-width: 1200px) {
    width: auto;
  }
}

.time {
  color: #555;
  font-size: 0.875rem;
}

.title {
  padding-top: 0.25rem;
  height: 3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  @media screen and (min-width: 1200px) {
    height: 1.5rem;
  }
}
