.post {
  width: 200px;

  @media screen and (min-width: 1200px) {
    width: auto;
  }
}

.time {
  color: #555;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-right: 1px solid #333;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.category {
  line-height: 1em;
  color: #333;
}

.title {
  padding-top: 0.25rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  @media screen and (min-width: 1200px) {
    height: 1.5rem;
  }
}
