.post {
  width: 200px;

  @media screen and (min-width: 1200px) {
    width: auto;
  }
}

.title {
  padding-top: 0.25rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  @media screen and (min-width: 1200px) {
    height: 1.5rem;
  }
}
